html {
    height: 100%;
    margin:0;

}

body {
    height: 100vh;
    width:100%;
    margin:0;

    background-image: url("bg.jpeg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size:cover;
}

#main {
  height:100%;
}
#page-1 {
  text-align:center;  
  height: 100%; 
}
.container{
    margin:0;
    height:100%;
}.container-fluid{
  margin-top: 0;
  margin-bottom: 0;
}

.vertical-center {

    display: flex;
    align-items: center;
    justify-content: center;

  }
  
.logo-text {
    text-align:center;
    font-family:'Raleway';
}

#home-section {
  text-align: center;
}

i {
    color:white;
  }
.footer {
  bottom:0;
  margin-bottom:15px;
  position:fixed;
  width:100vw;
  text-align:center;
  padding:0;
}
.footer p {
  padding:0;
  font-size:10px
}
.footer a p {
  overflow: auto;
  position: relative;
  display:block;
}
.main-icon {
  width: 100%;
  font-size:24px;
  margin-left:5px;
  margin-right:5px;

}
i:hover {
    cursor:pointer;
}

.row {
    width:100%;
}
.material-icons.md-48 { 
    font-size: 48px;     
    float:right;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3,p {
    margin-top:10px;
    font-family:'Raleway';
    font-weight:100;
    color:white;
}

.left-nav {
    float:left;
    height:750px;
    overflow:hidden;
    position: relative;
}

.cover {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
}

.left-nav > .cover {
  position:relative;
}
#nav-links.left-nav {
  float:left;
}
.text-right {
    float:right;
}
.selected {
    color:white !important;
}


/* The side navigation menu */
.sidenav {
  text-align:left;
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #111; /* Black*/
    opacity:0.85;
    overflow: hidden;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  .sidenav {
    right: 0;
    float:left;
    height:100vh;

  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    font-family:'Raleway';
    display:inline-block;
  }
  #icon {
    padding:0;

  }
  p{
    padding-right:32px;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .flip { transform: rotate(-180deg);    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  #experience-section {
    display:inline;
    z-index:99;
    overflow: hidden;
    width:90%;
  }
  #projects-section {
    display:inline;
    z-index:99;
    overflow: hidden;
    width:90%;
  }
  .company-logo {
      height:60px;
      width:180px;
      display:inline;
  }
  
.material-icons.md-12 {
    display:inline;
    font-size: 12px;     
    margin-right:10px;
}
.card {
    margin-right:32px;
    margin-top:0;
    font-family:'Raleway';
    background-color:RGBA(255,255,255,0) !important;
    color:white !important;
  
}

.project-image {
  /*height:200px;
  width:300px;*/
}


#left-align {
  margin-left:195px;
}